.all{
    width: 90%;
    background-color: black;
    height: 70vh;
}
#first{
    /* width: 50%; */
   
    /* float: left; */
    height: 15vh;
    color: black;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    

}
#second{
    /* width:50%; */
    height: 15vh;
    color: black;
    /* float: right; */
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  
}
.time-display{
    /* width: 40%; */
    font-size: 8em;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#first-timer{
    width:50%;   
    float: left;
    background-color: whitesmoke;
    height: 70vh;
    position: relative;



}

#second-timer{
    position: relative;
    width:50%; 
    float: right;
    background-color: chocolate;
    height: 70vh;
}

.blocks{
    height: 15vh;
    min-height: 15vh;
    color: white; 
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}

.button-panels{
    width: 100%;
    text-align: center;
    
}

.actual-buttons{
    background-color: chocolate; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1em;
}